:root {
  /* --font-family: "Assistant", serif; */
  --font-family: "Raleway", serif;
  --letter-spacing: 0px;
  --bg-primary: rgb(255, 82, 82);
  --bg-light-hover: rgb(241, 241, 241);
  --bg-active: rgb(233, 243, 255);
  --text-active: rgb(0, 110, 255);
  --text-light: #535665;
}

*{
    font-family: var(--font-family) !important;
    font-optical-sizing: auto !important;
}

.MuiBadge-badge { background: var(--bg-primary) !important;}

.ReactCollapse--collapse {
  transition: height 500ms;
}