.categoryPanel button{
    text-transform: capitalize !important;
}

nav .col_1 button:hover{
    background-color: var(--bg-primary-lite) !important;
}

button{
    background: none !important; 
}

.nav li .submenu{ visibility: hidden; z-index: 1000; font-weight: 400 !important; border-radius: 0px 0px 10px 10px !important; }
.nav li:hover > a > button {
  color: var(--bg-primary) !important; /* Change active nav text color */
}
  
  .nav li .submenu > ul > li:last-child > a > button {
    border-radius: 0 0 10px 10px !important; /* Bottom-left and bottom-right corners */
  }
  
  .nav li .submenu > ul > li:not(:first-child):not(:last-child) > a > button {
    border-radius: 0 !important; /* Remove radius for middle buttons */
  }

.nav li:hover .submenu{ opacity: 1 !important; visibility: inherit; transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out ; -moz-transition: all 0.3s ease-in-out ; -ms-transition: all 0.3s ease-in-out ; -o-transition: all 0.3s ease-in-out ; }

.nav li .submenu li .submenu{top: 0px !important; left: 120% !important; opacity: 0 !important;}
.nav li .submenu li:hover .submenu{left: 100% !important; opacity: 1 !important;}
.nav li .submenu li:hover button{color: var(--bg-primary) !important;}

.nav li .submenu li .submenu button{color: rgba(0, 0, 0, 0.8) !important;}
.nav li .submenu li .submenu button:hover{color: var(--bg-primary) !important;}